.NavBar{
    display: flex;
    position: sticky;
    background-color: blue;
    height: 3vw;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    background: red;
    border: blue;
    border-radius: 10px;
    position: relative;
    left: -40px;
}
.register{
    position: relative;
    left: -30px;
}