.NavBar{
    display: flex;
    background-color: rgb(129, 205, 201);
    height: 2.1vw;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
}
.btn{
    background: red;
    border: blue;
    border-radius: 10px;
    position: relative;
    left: -40px;
}
.register{
    position: relative;
    left: -30px;
}
.logo{
    height: 50px;
    width: 50px;
}
.header{
    display: flex;
    justify-content:space-evenly;
    height: 100px;
    width: 100%;
}
/* body{
    margin:0px
} */